apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - postgres.yaml
patches:
  # Remove unnecessary `app.kubernetes.io/managed-by: Helm` annotation
  - patch: |-
      - op: remove
        path: /metadata/labels/app.kubernetes.io~1managed-by
    target:
      group: apps
      version: v1
      kind: Service
  - patch: |-
      - op: remove
        path: /spec/template/metadata/labels/app.kubernetes.io~1managed-by
    target:
      group: apps
      version: v1
      kind: StatefulSet
  # remove these empty affinity nodes, as in Kustomize 5.0.x kustomize generates them as strings with value "null" instead of just null, and they can not be applied.
  # added this issue in kustomize: https://github.com/kubernetes-sigs/kustomize/issues/5171
  - patch: |-
      - op: remove
        path: /spec/template/spec/affinity/podAffinity
      - op: remove
        path: /spec/template/spec/affinity/nodeAffinity
    target:
      group: apps
      version: v1
      kind: StatefulSet
  # replace commands with hardcoded values
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/livenessProbe/exec/command
        value:
          - /bin/sh
          - -c
          - exec pg_isready -U "postgres" -d "dbname=$(POSTGRES_DATABASE)" -h 127.0.0.1 -p 5432 [-f /opt/bitnami/postgresql/tmp/.initialized] || [-f /bitnami/postgresql/.initialized]
    target:
      group: apps
      version: v1
      kind: StatefulSet
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/readinessProbe/exec/command
        value:
          - /bin/sh
          - -c
          - exec pg_isready -U "postgres" -d "dbname=$(POSTGRES_DATABASE)" -h 127.0.0.1 -p 5432 [-f /opt/bitnami/postgresql/tmp/.initialized] || [-f /bitnami/postgresql/.initialized]
    target:
      group: apps
      version: v1
      kind: StatefulSet
